<div class="modal fade" id="addUpdateModal" tabindex="-1" show="true" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">Agregar Pedidos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" id='formProducto' method="POST">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <div class="form-group">
                                <div class="form-group has-success">
                                    <label class="form-label mt-4" for="Nombre">Nombre*</label>
                                    <input id='nombre' type="text" name='nombre' placeholder="Nombre" oninput="validaInput()" class="form-control is-valid" id="inputValid">
                                    <div class="invalid-feedback" id="errNombre" >El nombre se compone de minimo 4 letras.</div>
                                </div>
                                <label class="form-label mt-4">Precio*</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">$</span>
                                    <input id='precio' name='precio' type="number" oninput="validaInput()" class="form-control" aria-label="Amount (to the nearest dollar)">
                                    <div class="invalid-feedback" id="errNombre" >Tiene que ser mayor a 0</div>
                                </div>
                                <label class="form-label mt-4">Marca*</label>
                                <div class="input-group mb-3">
                                    <select onchange="validaInput()" name='marca_id' class="form-select" aria-label="Default select example">
                                        <option selected value="0">Open this select menu</option>
                                        {{#each pedidoMap}}
                                            <option value="{{this.id}}">{{this.nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                    <button type="submit" class="btn btn-primary" >Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>