<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card mt-12 text-center">
            <div class="card-header">
                <h1>
                    Marcas
                </h1>
                <div class="col-md-12" align="right">
                    <a type="button" onClick="addUpdate()" class="btn btn-primary" ><i class="fa fa-plus" aria-hidden="true"></i> Agregar Marca</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table" id="tableMarcas">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each marcaMap}}
                            <tr>
                                <td width="20%" align="left">
                                    {{@index}}
                                </td>
                                <td width="60%" align="left">
                                    {{this.nombre}}
                                </td>
                                <td width="20%">
                                    <button type="button" class="btn btn-warning left" onclick="addUpdate('{{this.nombre}}','{{this.id}}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-danger left"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" show="true" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleModal">Agregar Marca</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" id='formMarca' method="POST">
      <div class="modal-body">
        <div class="form-group">
	        <div class="col-md-10">
                <label for="nombre">Nombre * </label>
                <input type="text" id="nombre" name="nombre">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
        <button type="submit" class="btn btn-primary" >Save changes</button>
      </div>
    </form>

    </div>
  </div>
</div>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script>
$(document).ready( function () {
    $('#tableMarcas').DataTable();
} );
    function addUpdate(nombre='',id=null){
        console.log('/marcas/update/'+id)
        $('#nombre').val(nombre);
        $('#formMarca').attr('action', '/marcas/store');
        if(id){
            $('#formMarca').attr('action', '/marcas/update/'+id);
            document.getElementById('titleModal').innerHTML='Editar Marca'
        }else{
            document.getElementById('titleModal').innerHTML='Agregar Marca'   
        }
        $('#exampleModal').modal('show'); // abrir
    }
</script>