<div class="card">
    <div class="card-body">
        <h5 class="card-title">Aplicación con NodeJS y MongoDB</h5>
        <p class="card-text">Bienvenidos a nuestra aplicación de pedidos</p>
        <p>Este es un sitio web para el registro de pedidos de usuarios, donde cada usuario tendrá un almacen de pedidos de manera independiente</a>
    </div>
</div>