<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sistema de Pedidos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto justify-content-between flex-fill">
                {{#if usuario}}
                    <div class="d-flex flex-fill flex-column flex-md-row p-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mis Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pedidos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                aria-expanded="false">Catalogos</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/productos">Productos</a>
                                <a class="dropdown-item" href="/marcas">Marcas</a>
                            </div>
                        </li>
                    </div>
                    <div class="p-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                aria-expanded="false"><i class="fa-solid fa-user"></i> {{usuario.nombre}}</small></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Salir</a>
                            </div>
                        </li>
                    </div>
                {{else}}
                    <div class="p-2 flex-fill"></div>
                    <div class="d-flex p-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/registro"><i class="fa-solid fa-user-plus"></i> Registrar</a>
                        </li>
                        <li class="nav-item"></li>
                    </div>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>